service: ${self:custom.profile}-app

custom:
  profile: gaqqie-sky
  defaultStage: dev
  #environment:
  #  dev: ${file(../conf/dev.yml)}
  #  prd: ${file(../conf/prd.yml)}
  #webSiteName: ${self:custom.environment.${self:provider.stage}.webSiteName}
  #s3Sync:
  #  - bucketName: ${self:custom.webSiteName}
  #    localDir: ../static
  lambdaRetry:
    - ErrorEquals:
        - Lambda.ServiceException
        - Lambda.AWSLambdaException
        - Lambda.SdkClientException
      IntervalSeconds: 1
      MaxAttempts: 3
      BackoffRate: 2

provider:
  name: aws
  runtime: python3.8
  stage: ${opt:stage, self:custom.defaultStage}
  profile: ${self:custom.profile}-${self:provider.stage}
  region: ap-northeast-1
  #region: ${self:custom.environment.${self:provider.stage}.region}
  memorySize: 512
  timeout: 30
  logRetentionInDays: 7
  lambdaHashingVersion: 20201221
  #tracing: true
  environment:
    DYNAMODB_TABLE_JOB: ${self:custom.profile}-${self:provider.stage}-job
    #DYNAMODB_TABLE_DEVICE: ${self:custom.profile}-${self:provider.stage}-device
    #IBMQ_TOKEN: ${ssm:/${self:custom.profile}/${self:provider.stage}/IBMQ_TOKEN}
    S3_BUCKET_RESULT: ${self:custom.profile}-${self:provider.stage}-result
    STAGE: ${self:provider.stage}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - "Fn::GetAtt": [DynamoDbTableJob, Arn]
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:PutObject
          Resource:
            - "Fn::GetAtt": [S3BucketResult, Arn]
        - Effect: Allow
          Action:
            - xray:PutTraceSegments
            - xray:PutTelemetryRecords
          Resource: "*"

package:
  patterns:
    - "!node_modules/**"
    - "!tests/**"
    - "!__pycache__/**"
    # "!json,yaml"

functions:
  UserApiSubmitJob:
    handler: gaqqie_sky.user_api_jobs.submit_job
  UserApiGetJobById:
    handler: gaqqie_sky.user_api_jobs.get_job_by_id
  UserApiGetResultByJobId:
    handler: gaqqie_sky.user_api_jobs.get_result_by_job_id
  UserApiGetDeviceByName:
    handler: gaqqie_sky.user_api_devices.get_device_by_name

resources:
  Resources:
    # DynamoDB
    DynamoDbTableJob:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE_JOB}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        # on demand mode
        BillingMode: PAY_PER_REQUEST

    # S3
    S3BucketResult:
      Type: AWS::S3::Bucket
      DeletionPolicy: Retain
      Properties:
        BucketName: ${self:provider.environment.S3_BUCKET_RESULT}
        AccessControl: Private
    S3BucketResultPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket:
          Ref: S3BucketResult
        PolicyDocument:
          Statement:
            - Sid: IamRoleLambdaGetObject
              Effect: Allow
              Principal:
                AWS:
                  Fn::GetAtt: [IamRoleLambdaExecution, Arn]
              Action:
                - s3:*
                - s3:ListBucket
                - s3:GetObject
              Resource:
                - arn:aws:s3:::${self:provider.environment.S3_BUCKET_RESULT}
                - arn:aws:s3:::${self:provider.environment.S3_BUCKET_RESULT}/*

    # API Gateway
    ApiGatewayRestApiUser:
      Type: "AWS::ApiGateway::RestApi"
      Properties:
        Body: ${file(./gaqqie-user-api.yaml)}
    ApiGatewayDeployment:
      Type: AWS::ApiGateway::Deployment
      Properties:
        RestApiId:
          Ref: ApiGatewayRestApiUser
        StageName: ${self:provider.stage}
    UserApiSubmitJobPermission:
      Type: "AWS::Lambda::Permission"
      Properties:
        FunctionName:
          Fn::GetAtt:
            - UserApiSubmitJobLambdaFunction
            - Arn
        Action: "lambda:InvokeFunction"
        Principal: "apigateway.amazonaws.com"
    UserApiGetJobByIdPermission:
      Type: "AWS::Lambda::Permission"
      Properties:
        FunctionName:
          Fn::GetAtt:
            - UserApiGetJobByIdLambdaFunction
            - Arn
        Action: "lambda:InvokeFunction"
        Principal: "apigateway.amazonaws.com"
    UserApiGetResultByJobIdPermission:
      Type: "AWS::Lambda::Permission"
      Properties:
        FunctionName:
          Fn::GetAtt:
            - UserApiGetResultByJobIdLambdaFunction
            - Arn
        Action: "lambda:InvokeFunction"
        Principal: "apigateway.amazonaws.com"
    UserApiGetDeviceByNamePermission:
      Type: "AWS::Lambda::Permission"
      Properties:
        FunctionName:
          Fn::GetAtt:
            - UserApiGetDeviceByNameLambdaFunction
            - Arn
        Action: "lambda:InvokeFunction"
        Principal: "apigateway.amazonaws.com"

#plugins:
#  - serverless-s3-sync
#  - serverless-step-functions
#  - serverless-plugin-tracing
